.cardContainer {
  border: 1px solid #ccc;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  text-align: start;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  transition: transform 300ms;
}
.cardContainer:is(:hover, :focus) {
  /* zoom-in effect*/
  transform: scale(1.09);
}

.cardTitle {
  font-weight: 600;
  font-size: 30px;
}

.time {
  font-weight: 400;
  font-size: 20px;
  color: rgb(190, 188, 188);
}

.cardIcon {
  font-size: 50px;
}
@media (min-width: 600px) {
  .cardTitle {
    font-weight: 600;
    font-size: 18px;
  }
}
@media (min-width: 850px) {
  .cardTitle {
    font-size: 15px;
  }
}

@media (min-width: 1000px) {
  .cardTitle {
    font-size: 20px;
  }
}
