.title {
  font-size: 23px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
.note {
  font-size: 15px;
  color: gray;
}
@media (min-width: 768px) {
  .title {
    font-size: 25px;
  }
}
@media (min-width: 770px) {
  .title {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 30px;
  }
}
